<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
                <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
                <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>
    <canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>

    <hr>
    <h1 class="h2">Consultar detalles de libro por código</h1>
    <form action="/admin/menu/validate/query" method="post">
        <input class="form-control" type="text" name="ingreso" placeholder="Código" required>
        <br>
        <input type="submit" class="fadeIn second" value="Consultar">
    </form>

    <hr>
    <h1 class="h2">Ingresar libro</h1>
    <form action="/admin/menu/validate/insert" method="post">
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="inputEmail4">Código</label>
                <input class="form-control col-md-3" type="text" name="codigo" placeholder="Código">
            </div>

            <div class="form-group col-md-3"><label for="inputEmail4">Título</label>
                <input class="form-control col-md-3" type="text" name="titulo" placeholder="'Forbbiden Stone'" required>
            </div>

            <div class="form-group col-md-3"><label for="inputEmail4">Autor</label>
                <input class="form-control col-md-3" type="text" name="autor" placeholder="'Tony Abbot'" required>
            </div>

            <div class="form-group col-md-3"><label for="inputEmail4">Cantidad</label>
                <input class="form-control col-md-3" type="text" name="cantidad" placeholder="'40'" required>
            </div>

        </div>
        <br>
        <input type="submit" class="fadeIn second" value="Ingresar">
    </form>
    <hr>
</main>